<div class="mx-auto">
  <p class="text-center text-lg">Fill out the form to generate an API request:</p>

  <.form
    class="w-full max-w-md mt-12 mx-auto"
    for={@form}
    phx-submit="submit"
    phx-change="validate"
  >
    <.input field={@form[:city]} label="Your city" required phx-debounce="750" />

    <div class="mt-12 mx-auto text-center">
      <.button class="px-6 py-4 bg-green-800 hover:bg-green-900 text-xl">Submit</.button>
    </div>
  </.form>
</div>
